html, body {
  height: 100%;
  margin: 0px;
}


html, body {
  border-top: solid 2px rgba(192,65,56,1.0);
  background-color: rgba(249,246,238,1.0);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.ffielfd {
   font-size: 13px;
   color: rgba(65, 65, 65, 1.0)
}

input[type=text], input[type=email], input[type=password] {
  width: 280px; 
  height: 35px;
  margin: 5px;
  margin-left: 1px;
  padding: 0px;
  background-color: rgba(255,255,255,1.0);
  color: rgba(70,70,70,1.0);
  font-family: sans-serif;
  font-weight: light;
  font-size: 15px;
  border: 0.5px;
  cursor: pointer;
}


input[type=text]:hover {
  color: rgba(70,70,70,1.0);
  border-bottom: solid 0.5px rgba(10,10,10,1.0);
  background-color: rgba(249,246, 239, 0.5);
}


input[type=email]:hover {
  color: rgba(70,70,70,1.0);
  border-bottom: solid 0.5px rgba(10,10,10,1.0);
  background-color: rgba(249,246, 239, 0.5);
}


input[type=password]:hover {
  color: rgba(70,70,70,1.0);
  border-bottom: solid 0.5px rgba(10,10,10,1.0);
  background-color: rgba(249,246, 239, 0.5);
}


.no-outline:focus {
  outline: none; 
}


input[type=submit] {
  width: 295px; 
  height: 35px;
  margin: 0px;
  margin-top: 40px;
  margin-left: 0%;
  padding: 0px;
  background-color: rgba(192,65,56,1.0);
  color: white;
  font-family: sans-serif;
  font-weight: light;
  font-size: 15px;
  border: none;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: rgba(217,95,77,1.0);
}


.mydiv {
  background-color: rgba(255,255,255,1.0);
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

.mydiv > div {
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding: 0px;
  margin-top: 20px;
  font-family: sans-serif;
  color: rgba(55,55,55,1.0);;
  font-size: 30px;
  font-weight: light;
  text-align: center;
}


.subtitle {
  padding: 0px;
  margin-top: 20px;
  font-family: sans-serif;
  color: rgba(55,55,55,0.6);;
  font-size: 18px;
  text-align: center;
}


ul { 
    list-style-type: none;
}

li {
  padding: 8px;
  margin: 2px;
  background-color: rgba(192,65,56,1.0);
  color: white;
}

li:hover {
  background-color: rgba(217,95,77,1.0);
}

#footer {
	width: 100%;
        border-top: solid 2px rgba(192,65,56,1.0);
        border-bottom: solid 2px rgba(192,65,56,1.0);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
  	flex-shrink: 0;
} 
