<!DOCTYPE html>
<html lang="it">
<head>
	<title> Template </title>
	<meta charset="utf-8">
	<meta name="keywords" content="esercizio2, saw, 2022">
	<meta name="author" content="Kevin">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header> 
	<div class="header-container">
		<div class="vertical-center"> 
			<h1> Template</h1>
		</div>
	</div>
</header>
<nav>
	<div class="nav-container">
		<div class="vertical-center"> 
			<a class="nav-text" href="#"> Home </a> |
			<a class="nav-text" href="#"> Chi siamo</a> |
			<a class="nav-text" href="#"> Lavora con noi</a> |
			<a class="nav-text" href="#"> Contatti</a>
		</div>
	</div>
</nav>
<br>
<br>
<div class="form-container">
		<h2> Crea un account </h2>
		<form method="POST" action="form.php">
			<label for="firstname">Nome</label><br>
			<input type="text" id="firstname" name="firstname" placeholder="e.g. Mario">
			<br><br><label for="lastname">Cognome</label><br>
			<input type="text" id="lastname" name="lastname" placeholder="e.g. Rossi">
			<br><br><label for="email">Indirizzo email</label><br>
			<input type="email" id="email" name="email" placeholder="e.g. mario.rossi@gmail.com">
			<br><br><label for="password">Password</label><br>
			<input type="password" id="password" name="password" placeholder="Password">
			<br><br><label for="confirm">Conferma password</label><br>
			<input type="password" id="confirm" name="confirm" placeholder="Password">
			<input type="submit" name="submit" value="Registrati">
		</form>
		<br>
</div>

 
<br>
<a href="#">
	<h3>Leggi la nostra Informativa sulla Pubblicità definita in base agli interessi</h3>
</a>
<footer>
	Copyright: Template Website - 
	<a href="#">Cookie policy</a> - 
	<a href="#">Feedback</a>
</footer>
</body>
</html>